body{
    margin: 0;
    background-color:lemonchiffon;
}

.content{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
    height: 100%;
}

.game-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}

.game-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    display: flex;
    height: 146px;
    width: 117px;
    background-color: #a7e9af ;
    border: solid 1px #99cea8;
    border-radius: 5px;
    margin: 34px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in;
    box-sizing: border-box;
}

.card:hover{
    border: solid 5px green;
    box-shadow: inset;
}

.card-front{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    transition-delay: 100ms
}

.card-back{
    position: absolute;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    transition-delay: 100ms
}

img{
    height: 100px;
    width: 100px;
}

.fliped{
    transform: rotateY(180deg);
    transition: all 1s;
}

.fliped > .card-back{
    opacity: 0;
    }
    
    .fliped > .card-front{
    opacity: 1;
}

.matched{
        pointer-events: none;
    
}

.clock-container{
    padding: 15px;
    background-color: lightgreen;
    border-radius: 5px;
    position: fixed;
    right: 15px;
    top : 15px
}

.clock{
    font-size: 100px;
}

@media all and (max-width: 650px) {
    .game-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;  
        margin: auto;    
    }
    .clock-container{
            padding: 5px;
            background-color: lightgreen;
            border-radius: 5px;
            position: fixed;
            right: 0px;
            top : 15px
    }
    .clock{
        font-size: 35px;
    }       
}