body{
    margin: 0;
    background-color:lemonchiffon;
}
.content{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
    height: 100%;

}
.game-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;

}
.game-container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;



}
.card{
    display: flex;
    height: 146px;
    width: 117px;
    background-color: #a7e9af ;
    border: solid 1px #99cea8;
    border-radius: 5px;
    margin: 34px;
    justify-content: space-around;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
}
.hidden{
    display: none;
}