body{
    margin: 0;
    background-color:lemonchiffon;
}
.content{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
    height: 100%;

}
.game-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;

}
.game-container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;



}
.card{
    display: flex;
    height: 146px;
    width: 117px;
    background-color: #a7e9af ;
    border: solid 1px #99cea8;
    border-radius: 5px;
    margin: 34px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 1s;


}
.card-front{
    position: absolute;
    opacity: 0;
}

.card-back{
    position: absolute;
}

img{
    height: 100px;
    width: 100px;
}
.fliped{
    transform: rotateY(180deg);
    transition: all 1s;
    transform-style:preserve-3d;
}

.fliped > .card-back{
    opacity: 0;
    transition: 500ms;
    }
    
    .fliped > .card-front{
    opacity: 1;
    transition: 500ms;
}


